// %border-post{
//   border-style: solid;
//   border-color: #e5e6e9;
//   border-radius:3px;
// }

@mixin link($box-shadow: 10px 10px 5px #888888, $text-decoration: underline, $color: blue, $cursor: pointer) {
  text-decoration: $text-decoration;
  color: $color;
  cursor: $cursor;
  box-shadow: $box-shadow;
}

@mixin transition($time: 200ms){ // $ is used for dynamic parameters
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -o-transition: $time;
}

@mixin transform($transformation, $background-color, $shadow) {
  transform: $transformation;
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;
}

@mixin border-post($top, $right, $bottom, $left, $width: 1px, $style: solid, $color: #e5e6e9, $radius: 3px) { //This order MATTERS
  border: {
    style: $style;
    color: $color;
    radius: $radius;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    width:$width;
  }
}

$width: 474px;
$height: 800px;

body {
  margin: 50px;
  padding: 0;
  font-family: sans-serif;
}

.Post{
  height: $height;
  @include border-post(3,3,3,3);
  width: $width;
  position:absolute;
  display: block;
  font-size: 12px;
}

.Post-info{
    @include border-post(3,3,3,3, $color:#fff); //Remember to make color #FFF
    margin-top: 12px;
    margin-left:10px;
    margin-right:5px;
    postion: relative;
    top:5px;
    height:46px;
    width: 450px;
  }

.Profile{
  width:428px;
  float:left;
  display:block;
  .Profile_Pic{
    width:40px;
    float:left;
  }
  .AuthorInfo-name{
    font-weight: bold;
    padding-right: 24px;
    padding-left:45px;
    margin-bottom: 2px;
  }
  .Post-date{
    margin-top: 2px;
    @extend .Post-date;
    @extend .AuthorInfo-name;
    font-weight: normal;
    color: #90949c;
  }
}

.Content{
  @include border-post(3,3,3,3, $color:#fff); //Remember to make color #FFF
  margin-top:7px;
  height: $height / 1.5;
  width: 450px;
  margin-left:10px;
  margin-right:5px;
  display: block;
  .Content-Desc{
    font-size: 14px;
    word-wrap: break-word;
    height: auto;
  }
  .Main{
    height:$height; //Subject to change, depending on image and content
    max-height: 380.5px;  //426.5px;
    margin-top:10px;
    &:hover{
      @include link($box-shadow: (2px 0 2px -2px #b2b9c9), $text-decoration: none, $color: none);
    }
    //background-color: blue; //Remove this when finished!
    .Main_Pic{
      max-width: 450px;
      min-height: $height/3;
      max-height: $height/2.5; //Unsure about height, subject to change.
      margin-bottom: 0px;
    }
    .Main-Title{
      @include border-post(3,3,3,3);
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 5px;
      max-height: 110px;
      padding-top: 0px;
      font-size: 18px;
      font-family: Georgia, serif;
      color:#000;
      position:relative;
      padding-left: 5px;
      bottom:0px;
      word-wrap: break-word;
    }
    .Main-Subtitle{
      margin-top: -20px;
      padding-bottom:20px;
      font-style: normal;
      font-size: 12px;
    }
    .Subtitle-Link{
      font-size: 12px;
    }
    .btn{
      font-size: 12px;
      float: right;
      width:83.75px;
      height:24px;
      text-align: center;
      line-height: 22px;
      vertical-align: center;
      @include border-post(3,3,3,3);
      @include transition;
      background-color: #f6f7f9;
      display:inline-block;
      margin: -10px 10px;
      padding: 0px 8px;
      &:hover{
        @include transform(cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1));
        background-color: #ced0d4;
      }
    }
  }
}

.lcs{
  padding-top: 10px;
  @include border-post(3,0,0,0);
  padding-bottom: 20px;
}

.Reaction-Bar{
  @extend .Content;
  height: $height / 5;
  margin-top: 15px;
  background-color: #f6f7f9;
  .Comment-Wrapper{
    @extend .Post-info;
    margin-left:0px;
    margin-right:0px;
    @include border-post(3,0,3,3);
    @include link($box-shadow: none, $color: #365899, $cursor: default);
  }
}
.Profile{
      width:428px;
      float:left;
      display:block;
  .Profile_Pic{
        width:32px;
        height:32px;
        float:left;
      }
  .AuthorInfo-name{
        font-weight: bold;
        padding-right: 24px;
        padding-left:40px;
        margin-bottom: 2px;
        width: 150px;
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }
.Comment{
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    position: absolute;
    right:181px;
    cursor:default;
    word-wrap: break-word;
  }
}

.Post-date{
    margin-top: 2px;
    @extend .Post-date;
    @extend .AuthorInfo-name;
    font-weight: normal;
    color: #90949c;
    width:150px auto;
    max-width: 150px;
  }

form{
  height:32px;
  input{
    width:200px !important;
    height: 28px;
  }
}

.User-comment{
  .Profile{
    margin-top: 15px;
  }
  .Profile_Pic{
    width:32px;
    height:32px;
  }
  .Comment-text{

  }
}
