// %border-post{
//   border-style: solid;
//   border-color: #e5e6e9;
//   border-radius:3px;
// }

@mixin border-post($top, $right, $bottom, $left, $width: 1px, $style: solid, $color: #e5e6e9, $radius: 3px) { //This order MATTERS
  border: {
    style: $style;
    color: $color;
    radius: $radius;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    width:$width;
  }
}

$width: 474px;
$height: 800px;

body {
  margin: 50px;
  padding: 0;
  font-family: sans-serif;
}

.Post{
  height: $height;
  @include border-post(3,3,3,3);
  width: $width;
  position:absolute;
  display: block;
  font-size: 12px;
}

.Post-info{
    @include border-post(3,3,3,3, /* $color:#fff */); //Remember to make color #FFF
    margin-top: 12px;
    margin-left:10px;
    margin-right:5px;
    postion: relative;
    top:5px;
    height:46px;
    width: 450px;
  }

.Profile{
  width:428px;
  float:left;
  display:block;
  .Profile_Pic{
    width:40px;
    float:left;
  }
  .AuthorInfo-name{
    font-weight: bold;
    padding-right: 24px;
    padding-left:45px;
    margin-bottom: 2px;
  }
  .Post-date{
    margin-top: 2px;
    @extend .Post-date;
    @extend .AuthorInfo-name;
    font-weight: normal;
    color: #90949c;
  }
}

.Content{
  @include border-post(3,3,3,3, /* $color:#fff */); //Remember to make color #FFF
  margin-top:7px;
  height: $height / 1.5;
  width: 450px;
  margin-left:10px;
  margin-right:5px;
  display: block;
  .Content-Desc{
    font-size: 14px;
    word-wrap: break-word;
    height: auto;
  }
  .Main{
    height:$height; //Subject to change, depending on image and content
    max-height: 426.5px;
    margin-top:10px;
    background-color: blue; //Remove this when finished!
    .Main_Pic{
      max-width: 450px;
      min-height: $height/3;
      max-height: $height/2.5; //Unsure about height, subject to change.
      margin-bottom: 0px;
    }
    .Main-Title{
      @include border-post(3,3,3,3);
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 5px;
      max-height: 110px;
      font-size: 18x;
      font-family: Georgia, serif;
      color:#000;
      position:relative;
      padding-left: 5px;
      bottom:0px;
      word-wrap: break-word;
    }
    .Main-Subtitle{
      
    }
  }
}

.Reaction-Bar{
  @extend .Content;
  height: $height / 5;
  margin-top: 15px;
}
