body {
  margin: 50px;
  padding: 0;
  font-family: sans-serif; }

.Post {
  height: 800px;
  border-style: solid;
  border-color: #e5e6e9;
  border-radius: 3px;
  border-top: 3;
  border-right: 3;
  border-bottom: 3;
  border-left: 3;
  border-width: 1px;
  width: 474px;
  position: absolute;
  display: block;
  font-size: 12px; }

.Post-info, .Reaction-Bar .Comment-Wrapper {
  border-style: solid;
  border-color: #fff;
  border-radius: 3px;
  border-top: 3;
  border-right: 3;
  border-bottom: 3;
  border-left: 3;
  border-width: 1px;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 5px;
  postion: relative;
  top: 5px;
  height: 46px;
  width: 450px; }

.Profile {
  width: 428px;
  float: left;
  display: block; }
  .Profile .Profile_Pic {
    width: 40px;
    float: left; }
  .Profile .AuthorInfo-name, .Profile .Post-date {
    font-weight: bold;
    padding-right: 24px;
    padding-left: 45px;
    margin-bottom: 2px; }
  .Profile .Post-date {
    margin-top: 2px;
    font-weight: normal;
    color: #90949c; }

.Content, .Reaction-Bar {
  border-style: solid;
  border-color: #fff;
  border-radius: 3px;
  border-top: 3;
  border-right: 3;
  border-bottom: 3;
  border-left: 3;
  border-width: 1px;
  margin-top: 7px;
  height: 533.3333333333px;
  width: 450px;
  margin-left: 10px;
  margin-right: 5px;
  display: block; }
  .Content .Content-Desc, .Reaction-Bar .Content-Desc {
    font-size: 14px;
    word-wrap: break-word;
    height: auto; }
  .Content .Main, .Reaction-Bar .Main {
    height: 800px;
    max-height: 380.5px;
    margin-top: 10px; }
    .Content .Main:hover, .Reaction-Bar .Main:hover {
      text-decoration: none;
      color: none;
      cursor: pointer;
      box-shadow: 2px 0 2px -2px #b2b9c9; }
    .Content .Main .Main_Pic, .Reaction-Bar .Main .Main_Pic {
      max-width: 450px;
      min-height: 266.6666666667px;
      max-height: 320px;
      margin-bottom: 0px; }
    .Content .Main .Main-Title, .Reaction-Bar .Main .Main-Title {
      border-style: solid;
      border-color: #e5e6e9;
      border-radius: 3px;
      border-top: 3;
      border-right: 3;
      border-bottom: 3;
      border-left: 3;
      border-width: 1px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 5px;
      max-height: 110px;
      padding-top: 0px;
      font-size: 18px;
      font-family: Georgia, serif;
      color: #000;
      position: relative;
      padding-left: 5px;
      bottom: 0px;
      word-wrap: break-word; }
    .Content .Main .Main-Subtitle, .Reaction-Bar .Main .Main-Subtitle {
      margin-top: -20px;
      padding-bottom: 20px;
      font-style: normal;
      font-size: 12px; }
    .Content .Main .Subtitle-Link, .Reaction-Bar .Main .Subtitle-Link {
      font-size: 12px; }
    .Content .Main .btn, .Reaction-Bar .Main .btn {
      font-size: 12px;
      float: right;
      width: 83.75px;
      height: 24px;
      text-align: center;
      line-height: 22px;
      vertical-align: center;
      border-style: solid;
      border-color: #e5e6e9;
      border-radius: 3px;
      border-top: 3;
      border-right: 3;
      border-bottom: 3;
      border-left: 3;
      border-width: 1px;
      transition: 200ms;
      -webkit-transition: 200ms;
      -moz-transition: 200ms;
      -o-transition: 200ms;
      background-color: #f6f7f9;
      display: inline-block;
      margin: -10px 10px;
      padding: 0px 8px; }
      .Content .Main .btn:hover, .Reaction-Bar .Main .btn:hover {
        transform: cubic-bezier(0.08, 0.52, 0.52, 1) background-color;
        -webkit-transform: cubic-bezier(0.08, 0.52, 0.52, 1) background-color;
        -moz-transform: cubic-bezier(0.08, 0.52, 0.52, 1) background-color;
        -ms-transform: cubic-bezier(0.08, 0.52, 0.52, 1) background-color;
        -o-transform: cubic-bezier(0.08, 0.52, 0.52, 1) background-color;
        background-color: #ced0d4; }

.lcs {
  padding-top: 10px;
  border-style: solid;
  border-color: #e5e6e9;
  border-radius: 3px;
  border-top: 3;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  border-width: 1px;
  padding-bottom: 20px; }

.Reaction-Bar {
  height: 160px;
  margin-top: 15px;
  background-color: #f6f7f9; }
  .Reaction-Bar .Comment-Wrapper {
    margin-left: 0px;
    margin-right: 0px;
    border-style: solid;
    border-color: #e5e6e9;
    border-radius: 3px;
    border-top: 3;
    border-right: 0;
    border-bottom: 3;
    border-left: 3;
    border-width: 1px;
    text-decoration: underline;
    color: #365899;
    cursor: default;
    box-shadow: none; }

.Profile {
  width: 428px;
  float: left;
  display: block; }
  .Profile .Profile_Pic {
    width: 40px;
    float: left; }
  .Profile .AuthorInfo-name, .Profile .Post-date {
    font-weight: bold;
    padding-right: 24px;
    padding-left: 45px;
    margin-bottom: 2px;
    width: 150px; }
    .Profile .AuthorInfo-name:hover, .Profile .Post-date:hover {
      text-decoration: underline;
      cursor: pointer; }
  .Profile .Comment {
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    position: absolute;
    right: 175px;
    cursor: default;
    word-wrap: break-word; }

.Post-date, .Profile .Post-date {
  margin-top: 2px;
  font-weight: normal;
  color: #90949c;
  width: 150px auto;
  max-width: 150px; }

.User-comment .Profile {
  margin-top: 15px; }

/*# sourceMappingURL=index.css.map */
